/* custom colors */
$primary: #5265E1;
$secondary: #FA5959; 

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

/* custom button */
$btn-custom-bg: #f7f7f7e4; 
$btn-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

.btn-custom {
    @extend .btn; 
    background-color: $btn-custom-bg;
    box-shadow: $btn-box-shadow;
}

/* custom active tabs */
.nav-tabs {
  width: 100%;
  .nav-item{
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: 3px solid $secondary;
    }
    &:active {
      border-bottom: 3px solid $secondary;
    }
  }
}

/* custom cards */
$custom-card-border-radius: 0.5rem;
$custom-card-bg: #fff;
$custom-card-box-shadow: 5px 5px 3px 5px rgba(0, 0, 0, 0.1);
$custom-card-width: 16rem;
$custom-card-height: 18rem;
$custom-card-bottom: 1.5rem;

.custom-card {
  width:$custom-card-width;
  height: $custom-card-height;
  border-radius: $custom-card-border-radius;
  background-color: $custom-card-bg;
  box-shadow: $custom-card-box-shadow;
  text-align: center;
  padding-bottom: $custom-card-bottom;
  margin-bottom: 2rem;
}

.card-body {
  padding: 1rem;
}
.custom-img {
  width: 50%; 
  height: auto; 
  margin: 0 auto; 
  padding: 1rem;
  object-fit: contain;
  border-top-left-radius: $custom-card-border-radius;
  border-top-right-radius: $custom-card-border-radius;
}

h5 {
  margin-top: 1rem;
  font-weight: 600;
}

p {
  margin: 0.3rem 0 1rem;
  color: #6c757d;
  font-size: 0.8rem;;
}

.dotted-line {
  border-top: 3px dotted #6c757d;
  width: 100%;
  margin: 1rem 0;
}
.btn {
  margin-top: auto; 
  align-self: center;
}

/* media queries to control stairs effect */
@media (min-width: 992px) {
  .stair-cards .col-lg-4:nth-child(2) .custom-card {
    top: 2rem;
  }

  .stair-cards .col-lg-4:nth-child(3) .custom-card {
    top: 4rem;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-card {
    top: 0;
  }
}

@media (max-width: 767.98px) {

  .stair-cards .col-sm-10 {
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }

  .custom-card {
    height: auto; 
    margin: 0; 
  }
}




// blue background element
$my-element: (
  default: ( // base style
  z-index: -1,
    position: relative,
    background-color: $primary 
  ),
  xs: ( 
    height: 33vh,
    margin-top: -33vh,
    margin-left: 25vw,
  ),
  sm: ( 
    height: 39vh,
    margin-top: -37vh,
    margin-left: 20vw,
  ),
  md: ( 
    height: 53vh,
    margin-top: -53vh,
    margin-left: 22vw,
  ),
  lg: (    
  height: 35vh,
  margin-top: -35vh,
  margin-left: 11vw
  ),
  xl: ( 
    height:42vh,
    margin-top: -42vh,
    margin-left: 11vw,
  )
);

// Apply the responsive styles
.my-element {
  // Base styles for laptops
  @each $property, $value in map-get($my-element, default) {
    #{$property}: #{$value};
  }

  // media queries for smaller and larger screens
  @each $breakpoint, $styles in $my-element {
    @if $breakpoint != default {
      @if $breakpoint == xs {
        @media (max-width: 575.98px) { 
          @each $property, $value in $styles {
            #{$property}: #{$value};
          }
        }
      } @else {
        @media (min-width: #{if($breakpoint == sm, "576px", if($breakpoint == md, "768px", if($breakpoint == lg, "992px", if($breakpoint == xl, "1200px", "1400px"))))}) {
          @each $property, $value in $styles {
            #{$property}: #{$value};
          }
        }
      }
    }
  }
}



@import "./node_modules/bootstrap/scss/bootstrap.scss";